:root {
    /* 메인영어 폰트 */
    --mainEng-font:
        /* 메인한글 폰트 */
        --mainKor-font:;
    /* 메인넘버 폰트 */
    --mainNum-font: ;
    /* 메인bg color */
    --mainBg-color-blue: #0053CF;
    --mainBg-color-yellow: #FFC700;
    --subcolor-blue: #2F6CC9;
    --subcolor-yellow: #FFC700;
    --subBg300: #D0D0D0;
    --subBg400: #5B7EB2;
    --white: #ffffff;
    --black: #000;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #535353;
    --black400: #636363;
    --black500: #838383;

    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
    /* 폰트를 부드럽게 렌더링하기위한 속성 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

@media screen and(max-width: 768px) {
    :root {
        font-size: 14px;

    }

    body {
        color: var(--black);
        background-color: var(--mainBg-color);
    }
}