.graph_inner {
    width: 100%;
    padding: 16px;
    background-color: var(--black);
}

.graph_title em {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
}

.graph_title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 50%;
    height: 5vw;
    font-size: 4vw;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--white);
    border-bottom: .4vw solid var(--white);
    margin-bottom: 100px;
    font-weight: 700;
}

.graphics_wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.graph_item {
    width: 30%;
    margin-top: 200px;
}

.graph_item:nth-child(even) {
    margin-top: 0;
}

.graph_item img {
    width: 100%;
}

.graph_item .img_box {
    position: relative;
}

.graph_item .img_box::before {
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: url(../../img/animate.png) no-repeat center/35px;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10;
    transition: .35s;
    opacity: 0;
    animation: spinAni 10s infinite linear;
}

.graph_item .img_box::after {
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../../img/arrow.png) no-repeat center/160px;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 99;
    transition: .35s;
    opacity: 0;
}
.graph_item:hover .img_box::after{opacity: 1;}
.graph_item:hover .img_box::before{opacity: 1;}
.graph_item .img_box img{
    filter: brightness(50%);
}
.graph_item:hover .img_box img{
    filter: brightness(100%);
}
@keyframes spinAni {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width:768px) {
    .graph_title {
        width: 100%;
        margin-bottom: 10vw;
        font-size: 30px;
        height: auto;
        top: 68px;
        z-index: 9999;
        background-color: var(--black);
    }
    .graph_item .img_box::before{
        width: 50px;
        height: 50px;
    }
    .graph_item .img_box::after{
        width: 30px;
        height: 30px;
    }
}